<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="check-order__container mb-5 pb-5">
                <div class="check-order text-center">
                    <h1 class="quiz__title">Проверка заказа</h1>
                    <form action="#" id="check-order-form">
                        <input class="form-support__control mb-3" type="text" placeholder="Номер наряда" name="outfit">
                        <button id="btn-check-order" class="btn-default btn-check-order mb-3" type="button" style="padding: 13px 26px;">
                            <span class="btn-default__text">Проверить</span>
                        </button>
                    </form>
                    <div class="contacts__map-text d-none" id="check-order-result">Результат:  <span class="check-order-result__text"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>